<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>Spotibuz - Mes favoris</title>
	</ui:define>
	<ui:define name="content">
		<h:panelGroup rendered="#{mbLogin.isConnected()}">
			<table>
			<tbody>
				<tr>
					<td><img src="./resources/pictures/transparent_picture.png"
						alt="transparent_picture.png" width="50"></img></td>
					<td><img
						src="./resources/pictures/4-bookmark_heart_symbol.png"
						alt="bookmark heart symbol.png" height="200px"></img></td>
					<td><img src="./resources/pictures/transparent_picture.png"
						alt="transparent_picture.png" width="15"></img></td>
					<td><h1>Mes favoris</h1></td>
				</tr>
			</tbody>
		</table>
		<br />
		<div id="myDIV_albums" style="display: block">
			<table rendered="#{mbLogin.isConnected()}">
				<tbody>
					<tr>
						<h3>
							<u>Mes albums ❤️</u>
						</h3>
					</tr>
					<tr>
						<td><img src="./resources/pictures/transparent_picture.png"
							alt="transparent_picture.png" width="50"></img></td>
						<b:form id="albumArtistFormBis">
							<ui:repeat value="#{mbAlbum.connectedMemberFavoritesAlbums}"
								var="someAlbum">
								<td><img src="./resources/pictures/#{someAlbum.photo}"
									alt="album cover" height="200px"></img><b><h:outputText
											style="display: block; width:100%; text-align:center;"
											value="#{someAlbum.name}" /></b>
									<div align="center">
										<b:commandButton style-class="ui-button" value="Fiche album"
											action="#{mbAlbum.connectFromArtist(someAlbum)}"></b:commandButton>
									</div></td>
								<td><img src="./resources/pictures/transparent_picture.png"
									alt="transparent_picture.png" width="15"></img></td>
							</ui:repeat>
						</b:form>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="myDIV_tracks" style="display: block">
			<table class="table table-dark table-hover center"
				rendered="#{mbLogin.isConnected()}">
				<tr>
					<h3>
						<u>Mes pistes ❤️</u>
					</h3>
				</tr>
				<thead>
					<tr>
						<td><img src="./resources/pictures/transparent_picture.png"
							alt="transparent_picture.png" width="5"></img></td>
						<th scope="col">🎧/🔊</th>
						<th scope="col">#CD</th>
						<th scope="col">#</th>
						<th scope="col">Titre</th>
						<th scope="col">Album</th>
						<th scope="col">Artiste</th>
						<th scope="col">Durée</th>
					</tr>
				</thead>
				<tbody>
					<ui:repeat value="#{mbAlbum.connectedMemberFavoritesTracks}"
						var="someFavTrack">
						<tr>
							<td><img src="./resources/pictures/transparent_picture.png"
								alt="transparent_picture.png" width="5"></img></td>
							<td><a href="#{someFavTrack.trackFile}">▶️</a></td>
							<td scope="row">#{someFavTrack.cdId}</td>
							<td scope="row">#{someFavTrack.trackId}</td>
							<td>#{someFavTrack.name}</td>
							<td>#{someFavTrack.album.name}</td>
							<td>#{someFavTrack.album.artist.name}</td>
							<td>#{someFavTrack.trackLength}</td>
						</tr>
					</ui:repeat>
				</tbody>
			</table>
		</div>
	</h:panelGroup>
		<h:panelGroup rendered="#{!mbLogin.isConnected()}">
			<div class="disconnectPage">
				<center><h3>Cher utilisateur/chère utilisatrice de <b>Spotibuz</b>, vous êtes déconnecté(e)s <i class="fa fa-sign-out"></i>.<br />Veuillez s'il vous plaît accéder à la page de connexion de l'application : <a href="http://localhost:8090/Spotibuz-Web/login.xhtml" style="color:gold;"><i class="fa fa-sign-in"></i> Page de login <b>Spotibuz</b></a></h3></center>
			</div>
		</h:panelGroup>
	</ui:define>
</ui:composition>
</html>