<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>Spotibuz - Accueil</title>
	</ui:define>
	<ui:define name="content">
		<h:panelGroup rendered="#{mbLogin.isConnected()}">
			<div>
				<center>
					<table>
						<tr>
							<td><img
								src="./resources/pictures/3-spotibuz_logo_and_title_full_white-modified_b.png"
								alt="Logo et titre Spotibuz" height="200px"></img></td>
						</tr>
					</table>
				</center>
			</div>
			<br />
			<div style="text-align: center;">
				<table style="margin: 0 auto;">
					<tbody>
						<tr>
							<h2><b><outputtext style="color: black">Bonjour #{mbLogin.member.name}, bonne(s) écoute(s) ! 🎧/🔊 🎵</outputtext></b></h2>
						</tr>
						<tr>
							<br /><td><h:outputLink value="favorites.xhtml">
									<img height="200px"
										src="./resources/pictures/4-bookmark_heart_symbol.png"></img>
								</h:outputLink></td>
							<td><img src="./resources/pictures/transparent_picture.png"
								alt="transparent_picture.png" width="15"></img></td>
							<td><h1>
									<a href="favorites.xhtml" style="color: white">Mes favoris</a>
								</h1></td>
							<td><img src="./resources/pictures/transparent_picture.png"
								alt="transparent_picture.png" width="25"></img></td>
							<td><h:outputLink value="purchases.xhtml">
									<img height="150px" src="./resources/pictures/4-sac_achats.png"></img>
								</h:outputLink></td>
							<td><img src="./resources/pictures/transparent_picture.png"
								alt="transparent_picture.png" width="15"></img></td>
							<td><h1>
									<a href="purchases.xhtml" style="color: white">Mes achats</a>
								</h1></td>
							<td><img src="./resources/pictures/transparent_picture.png"
								alt="transparent_picture.png" width="25"></img></td>
							<td><h:outputLink value="search.xhtml">
									<img height="200px" src="./resources/pictures/4-loupe_c.jpg"></img>
								</h:outputLink></td>
							<td><img src="./resources/pictures/transparent_picture.png"
								alt="transparent_picture.png" width="15"></img></td>
							<td><h1>
									<a href="favorites.xhtml" style="color: white">Recherche<br />dans
										le<br />catalogue
									</a>
								</h1></td>
						</tr>
					</tbody>
				</table>
			</div>
		</h:panelGroup>
		<h:panelGroup rendered="#{!mbLogin.isConnected()}">
			<div class="disconnectPage">
				<center><h3>Cher utilisateur/chère utilisatrice de <b>Spotibuz</b>, vous êtes déconnecté(e)s <i class="fa fa-sign-out"></i>.<br />Veuillez s'il vous plaît accéder à la page de connexion de l'application : <a href="http://localhost:8090/Spotibuz-Web/login.xhtml" style="color:gold;"><i class="fa fa-sign-in"></i> Page de login <b>Spotibuz</b></a></h3></center>
			</div>
		</h:panelGroup>
	</ui:define>
</ui:composition>
</html>