<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>Spotibuz - Mon compte</title>
	</ui:define>
	<ui:define name="content">
		<h:panelGroup rendered="#{mbLogin.isConnected()}">
		<table>
			<tbody>
				<tr>
					<td><img src="./resources/pictures/transparent_picture.png"
						alt="transparent_picture.png" width="50"></img></td>
					<td><img src="#{mbLogin.member.photo}" alt="Profile picture"
						height="200px"></img></td>
					<td><img src="./resources/pictures/transparent_picture.png"
						alt="transparent_picture.png" width="15"></img></td>
					<td><h1>Compte #{mbLogin.member.name}
							#{mbLogin.member.surname}</h1></td>
				</tr>
			</tbody>
		</table>
		<br />
		<table>
			<tbody>
				<tr>
					<td><img src="./resources/pictures/transparent_picture.png"
						alt="transparent_picture.png" width="50"></img></td>
					<td>
						<ul>
							<li><h3><b>Prénom :</b> #{mbLogin.member.name}</h3></li>
							<li><h3><b>Nom :</b> #{mbLogin.member.surname}</h3></li>
							<li><h3><b>Login :</b> #{mbLogin.member.login}</h3></li>
							<li><h3><b>Email :</b> #{mbLogin.member.email}</h3></li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
</h:panelGroup>
		<h:panelGroup rendered="#{!mbLogin.isConnected()}">
			<div class="disconnectPage">
				<center><h3>Cher utilisateur/chère utilisatrice de <b>Spotibuz</b>, vous êtes déconnecté(e)s <i class="fa fa-sign-out"></i>.<br />Veuillez s'il vous plaît accéder à la page de connexion de l'application : <a href="http://localhost:8090/Spotibuz-Web/login.xhtml" style="color:gold;"><i class="fa fa-sign-in"></i> Page de login <b>Spotibuz</b></a></h3></center>
			</div>
		</h:panelGroup>
	</ui:define>
</ui:composition>
</html>