<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>Spotibuz - Inscription</title>
		<f:metadata>
			<f:viewAction action="#{mbLogin.disconnectSignUp()}" />
		</f:metadata>
	</ui:define>

	<ui:define name="content">
		<div>
			<center>
				<table>
					<tr>
						<td><img
							src="./resources/pictures/3-spotibuz_logo_and_title_full_white_b.png"
							alt="Logo et titre Spotibuz" height="200px"></img></td>
					</tr>
				</table>
			</center>
		</div>
		<div>
			<center>
				<h2><b>Spotibuz</b> - Inscription</h2>
			</center>
		</div>
		<b:form id="loginForm">
			<b:panel
				style-class="col-sm-offset-1 col-md-offset-2 col-xs-12 col-sm-10 col-md-8">
				<b:row>
					<b:column
						style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText style="color:black;" value="Prénom :" />
					</b:column>
					<b:column
						style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Prénom" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText id="inpName"
							placeholder="Veuillez renseigner votre prénom..."
							value="#{mbLogin.name}">
							<f:facet name="prepend">
								<b:icon name="tag" />
							</f:facet>
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText style="color:black;" value="Nom de famille :" />
					</b:column>
					<b:column
						style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Nom" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText id="inpSurname"
							placeholder="Veuillez renseigner votre nom de famille..."
							value="#{mbLogin.surname}">
							<f:facet name="prepend">
								<b:icon name="tag" />
							</f:facet>
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText style="color:black;" value="Email :" />
					</b:column>
					<b:column
						style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Email" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText id="inpEmail"
							placeholder="Veuillez renseigner votre adresse mail..."
							value="#{mbLogin.email}">
							<f:facet name="prepend">
								<b:icon name="envelope" />
							</f:facet>
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText style="color:black;" value="Avatar :" />
					</b:column>
					<b:column
						style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Avatar" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText id="inpPhoto"
							placeholder="Veuillez renseigner le lien vers votre avatar..."
							value="#{mbLogin.photo}">
							<f:facet name="prepend">
								<b:icon name="tag" />
							</f:facet>
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText style="color:black;" value="Identifiant :" />
					</b:column>
					<b:column
						style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Identifiant" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText id="inpLogin"
							placeholder="Veuillez renseigner votre identifiant souhaité..."
							value="#{mbLogin.login}">
							<f:facet name="prepend">
								<b:icon name="user" />
							</f:facet>
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText style="color:black;" value="Mot de passe :" />
					</b:column>
					<b:column
						style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Mot de passe" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputSecret id="inpPassword"
							placeholder="Veuillez renseigner votre mot de passe souhaité..."
							value="#{mbLogin.password}">
							<f:facet name="prepend">
								<b:iconAwesome name="key" />
							</f:facet>
						</b:inputSecret>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="cat-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton style-class="cat-width-100" value="S'inscrire"
							action="#{mbLogin.create()}" />
					</b:column>
					<b:column
						style-class="cat-padding-1rem col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton style-class="cat-width-100"
							value="Retour vers la page de connexion" action="login.xhtml" />
					</b:column>
				</b:row>
			</b:panel>
		</b:form>
	</ui:define>
</ui:composition>
</html>