a:hover {
	background-color: #bcb2d9;
}

.blockPage {
	opacity: 0 !important;
}

.cat-padding-1rem {
	padding: 1rem !important;
}

.cat-width-100 {
	width: 100% !important;
}

.cat-top-1rem {
	position: relative !important;
	top: 1rem !important;
}

.blackText {
	color: #060501 !important;
}

.margin-content {
	margin-left: 500px;
}

.ui-button {
	background: #9f9f9f !important;
}

.table tbody tr:hover td, .table tbody tr:hover th {
	background-color: #bcb2d9
}

.cat-navbar {
	min-height: 5rem !important;
	color: white !important;
	background-color: #060501 !important;
	position: sticky;
	top: 0;
	z-index: 100;
}

.container {
	width: auto !important;
	color: #fff !important;
	background-color: #dbad2c !important;
	position: relative;
	top: 0rem;
	bottom: 10rem;
}

.myDIV_albums {
	 display: none;
}

.cat-content {
	color: white !important;
	min-height: calc(120vh - 7rem) !important;
	position: relative;
	top: 5rem;
	bottom: 5rem;
}

.cat-footer {
	min-height: 5rem !important;
	color: white !important;
	background-color: #060501 !important;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
}

.cat-flex-justify-content {
	display: flex !important;
	justify-content: center !important;
}

.cat-flex-align-items {
	display: flex !important;
	align-items: center !important
}

.disconnectPage {
	background-color: black;
}

.bottomTBody {
	bottom: 10rem;
}